@media (max-width:1250px){
    .wrap{
        width: 90%;
        
    }
    #baner h1{
        width: 100%;
        
        

    }
    /* #card{
        width: 17%;
        margin: 1.2%;
    } */
    #card p{
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    aside{
        width: 30%;
        min-height: 1000px;
    }
    aside input[type="text"]{
        width: 78%;
    }
    aside input[type="button"]{
        font-size: 14px;
    }
    #login input[type="submit"],#login input[type="reset"]{
        width: 37.8%;
        margin-left: 7.3%;
    }
    #login a {
        
        font-size: 13px;
    }    
    #articles{
        width: 64%;
    }
    #articles article{
        width: 95%;
    }
    #footer{
        height: auto;
    }
    #footer .wrap > div{
        width: 40%;
    }
    #footer .wrap > div:last-child{
        width: 90%;
    }
    #footer h5{
        font-size:35px;
    }
}
@media (max-width:1080px){
    .contenido{
        width: 100%;
    }
    #card .category{
        font-size: 17px;
        

    }
    #card .description{
        font-size:13px;
    }
   
}
@media (max-width:988px){
    .overlay{
        font-size:24px ;
        margin-left: -5px;
    }  
    .data{
        font-size: 10px;
        height: 20px;
        line-height: 20px;
    }
}
@media (max-width:910px){
   
}
@media (max-width:889px){
    #footer{
        height: auto;
    }
    #footer .wrap > div{
        width: 90%;
    }
    
    #footer h5{
        font-size:25px;
    }
    #blog:hover a {
        transform: scale(1.6);
    }

    
}
@media (max-width:895px){
    #login input[type="email"], #login input[type="password"]{
    width: 70%;
    }
    #login a {
        font-size: 12px;
    }
}
@media (max-width:850px){
    #baner{
        width:90%; 
        /* margin-left:-10px; */
    }
    #baner h1{
        padding: 0px;
        margin: 0px auto ;
        width: 95%;
        line-height:120px;
        text-align: center;
        font-size: 50px;
        

    }
    .contenido h1{
        font-size: 200%;
    }
}
@media (max-width:782px){
    aside input[type="text"] {
        width: 70%;
    }
}
@media (max-width:769px){
    #header{
        height: 130px;
    }
    #menu{
        width: 100%;
    }
    #footer .wrap > div {
        width: 97%;
        margin-left: auto;
    }
    #footer .wrap > div:last-child {
        width: 98%;
        margin-left: auto;
    }
    .icon{
        font-size:40px
    }
    
    .category{
        width: 95%;
        font-size: 14px;
        margin-top: -30px;

    }    
    #card:hover .icon {
        
        font-size: 40px;
    }
}
@media (max-width:710px){
    #header{
        height: auto;
        display:grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #menu{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .wrap {
        margin-top: 15px;
    }
   
    .contenido{
        
        margin-top: 120px  !important;
    }
   
    #menu ul {
        margin: 0px auto;
            margin-left: auto;
        margin-left: -38px;
        width: 100%;
    }
    #cards{
        width: 100%;
        padding: 0px;
        display: grid;
        grid-template-columns:1fr;
        grid-row-gap: 20px;
        
        
    }
    
   
    #card{
        margin: 0px auto;
        width: 90%;
    }
}   
@media (max-width:640px){
   
    .category{
        width: 80%;
    }
   
    #span1 > input[type="text"] {
        width: 85%;
    }
    #boton{
        width:10%;
    }
    #imagen-logo{
        padding-left: 0px;
    }
}
@media (max-width:610px){
    .contenido h1{
        font-size: 150%;
    }
}
@media (max-width:565px){
    #header{
        height: auto;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr  0.5fr ;
    }
    #menu{
        grid-row: 2/3;
    }
    #menu ul li{
        display: flex;
        align-items: center;
        justify-content:center;
        width: 30%;
        font-size:20px;
        height: 30px;
    }
    .wrap{
        margin-top: 150px;
    }
    #logo{
        height: auto;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #imagen-logo{
        padding-left: 0px;
        height: 80px;
    }
    .grid-main{
        grid-column:2/3;
        grid-row: 1/2;
    }


}

@media (max-width:540px){
    #baner{
        line-height: 25px;
        height: 120px;
    }
    #baner h1{
        font-size: 25px;
    }
    
    #span1 > input[type="text"] {
        width: 85%;
    }
    #boton{
        width:10%;
    }
  
}

@media (max-width:478px){ 
    #menu ul li{
        display: flex;
        align-items: center;
        width: 30%;
        font-size:17px;
        justify-content:center;
    }
   
    #imagen-logo{
        
        
        padding-left: 0px  !important;
    }
    #cards{
        margin-top: 20px;
    }
}
@media (max-width:432px){
    #header{
        height: auto;
        display:grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 0.5fr 0.5fr;
    }
    #logo{
        grid-column:1/2;
        display:grid;
        justify-content: center;
        align-items: center;
        width:90%;
    }
    #imagen-logo{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }
    .grid-main{
        grid-column:1/2;
        grid-row: 2/3;
    }
    #menu{
        grid-column:1/2;
        grid-row: 3/4;

    }
    #menu ul li{
        
        font-size:13px;
        width:100%;
        
    }
    .wrap{
        margin-top: 190px;
    }
    
    
}
@media (max-width:410px){
    #info ul li{
        font-size: 18px;
    }
    #info{
        margin-bottom: 20px;
    }
}
    
