/* FUENTES */

@font-face{
    font-family: TrebuchetMS;
    src: url(fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: BebasNeue;
    src: url(fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: WebSymbolRegular;
    src: url(fonts/websymbols-regular-webfont.svg#WeBSymbolsRegular)format(svg),
        url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix)format("truetype"),
    url(fonts/websymbols-regular-webfont.woff)format("woff"),
    url(fonts/websymbols-regular-webfont.ttf)format("truetype"),
    url(fonts/websymbols-regular-webfont.svg)format("svg");
    font-weight: normal;
    font-style: normal;
}
/* ESTILOS GENERALES */
*{
    margin: 0px auto;
    padding: 0px auto;
    list-style: none;
    text-decoration: none;
}
.clearfix{
    float: none;
    clear: both;
}
body{
    background-image: url(../img/pattern.png);
    width: 100%;
}
#barra-2{
    height: auto;
}
.wrap{
    width: 1250px;
    margin: 0px auto;
}
/* CABECERA */

#header{

    position:fixed;
    left: 0px;
    top: 0;
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 2fr;
    width: 100%;
    height:auto;
    background-color: black;
    color: white;
    font-family: BebasNeue;
}
/* 1 cabecera */
.grid-main{
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,2fr) ;
    grid-column-end: auto;
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: center;

}
.site-description a{
    
    grid-column:2/3;
    padding-left: 10px;
    justify-content:center;
    align-items: center;
}
.site-description img{
    width: 26px;
   
}
.site-description{
   
    
    margin-top: 10px;
    width: auto;
    height: 0px auto;
    
}


.gear ,.icon{
    
    font-family: WebSymbolRegular;
}
.wrap{
    margin-top: 150px;
}
/* SOCIAL */

.icons{
    font-family: WebSymbolRegular;
    font-size:26px;
    
}
#social{
    height: 190px;
    overflow: hidden;
}
#social div{
    
    font-size:30px;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:black ;
    overflow: hidden;
}
#social div a{
    font-size:40px;
    font-weight: normal;
    color:#1072a7;
}
#insta{
    display: block;
    width: 30px;
    margin: -9px auto !important;
    
    
}
#instaa{
    height: 100%;

}
.red{
    color:red !important;
    
}
.blue{
    color:#1877f2 !important;
}
.blue2{
    color:#00a2f3 !important;

}
.overlay{
    display: block;
    
    font-size:30px;
    
    transform: translateY(-100%);
    margin-left: -10px;
    margin-top: -35px;
    margin-bottom: 20px;
    color:#1072a7;
    position: absolute;
    transition: all 300ms linear;
    opacity: 0;
    
   
}

#social div:hover .overlay{
    
    opacity:1;
    text-shadow:0px 0px 1px rgb(119, 118, 118),1px 1px 1px black,0px 0px 1px white,0px 1px black;
    font-family: BebasNeue;
    
    transform:translateY(0%) scale(1.5,1.5);
    transform:translateX(100%) scale(1.5,1.5)
    
}
#logo{
    grid-column: 1/2;
    grid-row: 1/3;
    width: auto;
    background-color:transparent ;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
    height: auto;
  
   
    

}

#logo .gear{
    display: none;
    float: left;

    font-size: 30px;
    margin-top: 10px;
    margin-left: 26px;
    /* inicio animacion */
    animation-name: rotate-gear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all 500ms;

    
}
#imagen-logo{
    
    display: block;
    /* width: 70px; */
    padding-left: 40px;
    height:100px;
    margin: 0px auto;

}

@keyframes rotate-gear{
    0% {
        transform: rotateZ(0deg);
        color: white;
        
        
    }
    50%{
        transform: rotateZ(180deg);
        color:black;
        
        
    }
    100%{
        transform: rotateZ(360deg);
        color: white;
        
        
        
    }
}
#logo:hover h3{
    animation: fromRinght 300ms linear;
}
@keyframes fromRinght{
    from{
        transform:translateX(200%);
    }
    to{
        transform:translateX(0%);
    }
}
#logo:hover .gear{
    /* animation-name: desdeabajo; */
    /* animation-duration: linear; */
    /* animation-iteration-count: infinite; */
    animation: frombellow 500ms linear;
   
}
@keyframes frombellow{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0%);
    }
    
}
/* fin animacion */
/* #logo:hover{
    border-radius: 2px;
    color: black;
    background-color:#2176b3;
} */

#logo h3{
    display: block;
    float: right;
    font-size: 40px;
    margin-top: 5px;
    transition: all 300ms;
    margin-right: 65px;
}
#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
    grid-column: 2/3;
    grid-row: 2/3;
    height: auto;
    background-color: transparent;
    transition: all 500ms;

}
#menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu ul li a{
    color: white;
    display: block;
    transition: all 200ms;
   

}
#menu ul li a:hover{
    color: #37bcf9;
    transform: scale(1.2,1.2);
    transition: all 200ms;
   

}
#menu ul li{
    font-size: 24px;
    display: inline-block;
    margin: 0px 20px 0px 20px ;
    letter-spacing: 1px;
    line-height: 70px;

}
/* BANER */
#baner{
    /* margin-top: 300px; */
    width: 90%;
    height: 240px;
    border: 10px solid white;
    box-shadow:0px 0px 2px gray;
    background-image: url(../img/c7a7805f-e266-45d8-bf0d-2273c3e1750a.jfif);
    /* background-position: -70px -360px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* margin: 20px auto; */
    animation: showText 5s linear;
    overflow: hidden;
    
    
    
}
/* @keyframes showText{
    0% {
        background-position: -70px -60px;
    }
    100% {
        background-position: -70px -360px;
    }
} */
#baner h1{
    display: block;
    width: 800px;
    font-family: BebasNeue;
    color: white;
    font-size: 70px;
    letter-spacing: 3px;
    margin: 38px auto;
    margin-left: 6%;
    font-weight: normal;
    text-shadow: 2px 2px 1px black;
    text-transform: uppercase;
    
    animation: showText2 5s linear;
    
}
@keyframes showText2{
    0%{
        transform: translateX(-200%) scale(5.5);
        
    }   
    /* 25%{
        transform: translateX(300%) scale(4,5);
        
        
    }    */
    50%{
       
        transform: translateX(200%) scale(3.5);
        color: rgba(255, 255, 255, 0.508);
       
        
        
        
    }   
    75%{
        
        transform: translateX(-100%) scale(2.1);
        opacity: 0;
        color: white;
        
        
    }   
    100%{
        transform: translateX(0%) scale(1,1);
        opacity: 1;
        color: white;
        text-shadow: 2px 2px 1px black;
        
    }   
}    
/* CAJAS DE TARGETAS */
#cards{
    width: 0px auto;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    
    
}
#card{
    
    width: 90%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;
    overflow: hidden;
    display: block;
    float: left;
    background-color: white;
    margin:20px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 400ms;
    text-align: center;
}
#card:hover{
    background-color: black;
   
}

.icon{
    display:block;
    width: 90%;
    height: auto;
    line-height: 110px;
    /* margin-top: 24px; */
    font-size:50px;
    margin: 0px auto;
    padding: 10px;
    transition:all 300ms;
    

}
.icon img{
    width: 90%;
    
}
#card:hover .icon{
    animation: moveicon 500ms linear;
    color: #37bcf9;
    font-size: 70px;
}
@keyframes moveicon{
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0%);
        
    }
}
#card:hover .category{
    animation: movecategory 600ms linear;
    color: White;
}
@keyframes movecategory{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
        
    }
}
.category{
    width: 90%;
    height: 50px;
    color: #1d538c;
    font-family: TrebuchetMS;
    font-weight: bold;
    transition:all 300ms;
    padding: 10px;
    
    font-size: 21px;
    
}
.description{
    font-family: TrebuchetMS;
    color: #2566aa;
    font-size: 15px;
    transition:all 300ms;
    padding: 10px;
    
}
#card:hover .description{
    animation: movedescription 700ms linear;
   
}
@keyframes movedescription{
    from{
        transform: translateY(300%);
        color: black;
    }
    to{
        transform: translateY(0%);
        color: #2566aa;
        
    }
}
.sobre-nosotros{
    padding-top: 100px;
    margin-top: 120px auto !important;
    
}
.contenido{
    
    margin: 0px auto !important;
    width: 80%;
    height: autos;
    
}
.contenido h1{
    display: flex;
    border-bottom: 1px solid gray;
    align-items: center;
    justify-content: center;
    font-family:BebasNeue;
    font-size: 50px;
    padding-bottom: 30px;
    letter-spacing: 2px;
    color:#1F3CEA ;
    text-shadow: 0px 0px 2px black;
    margin: 50px;
}
.contenido p{
    margin: 30px auto;
    width: 80%;
    height: auto;
    font-family: TrebuchetMS;
    
    color:#414141;

}
#imagen-pintura img{
    width:100%;
}

#clearfix{

    float: none;clear: both;
}


#footer{
    width: 100%;
    height: auto;
    background-color: black;
    color:white;
    overflow: hidden;
}


#footer .wrap > div{
    float: left;
    width: 320px;
    height: 370px;
    margin:40px;
    text-align: center;
    color: white;
    font-family: TrebuchetMS;
}
#footer a{
    color: #37bcf9;
    transition: all 300ms;
}
#footer h5{
    display: block;
    background: url(../img/pxgray.png),white;
    height: 50px;
    initial-letter: 2px;
    text-align: center;
    font-size: 40px;
    font-family: BebasNeue;
    line-height: 55px;
    color: black;
    border-radius: 5px;
    margin-bottom: 15px;
}
#footer ul{
    
    text-align: left;
    font-size: 25px;
    margin-left: -30px;

}
#footer ul li{
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid white;
}


#footer ul li a{
    display: block;
    height: 40px;
    transition: all 300ms;
}
#footer ul li a:hover{
    padding-left: 50px;
    color: white;
    transform: scale(1.3);
    
}
#footer iframe{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border:5px solid white;
    box-shadow: 0px 0px 5px gray;

}
#footer img{
    margin-bottom: 15px;
    width: 40px;
}
#footer #img{
    margin-bottom: 15px;
    max-width: 100%;
    width: 200px !important;
}
#footer img:hover{
    transform: scale(1.5);
    
}
#autor{
    height: auto !important;
}
#optimizado{
    height: auto  !important;
}
#menu_footer{
    height: auto !important;
}



































    
    
    
    
    
