@media (max-width:1250px){
    .wrap{
        width: 90%;
        margin: 0 auto;
    }
    #baner h1{
        width: 100%;
        font-size: 35px;
        text-align: center;

    }
    #card{
        width: 17%;
        margin: 1.2%;
    }
    #card p{
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    aside{
        width: 30%;
        min-height: 1000px;
    }
    aside input[type="text"]{
        width: 78%;
    }
    aside input[type="button"]{
        font-size: 14px;
    }
    #login input[type="submit"],#login input[type="reset"]{
        width: 37.8%;
        margin-left: 7.3%;
    }
    #login a {
        
        font-size: 13px;
    }    
    #articles{
        width: 64%;
    }
    #articles article{
        width: 95%;
    }
    #footer{
        height: 820px;
    }
    #footer .wrap > div{
        width: 40%;
    }
    #footer .wrap > div:last-child{
        width: 90%;
    }
    #footer h5{
        font-size:35px;
    }
}
@media (max-width:1080px){
    #card .category{
        font-size: 17px;

    }
    #card .description{
        font-size:13px;
    }
    #articles{
        width:62%;
    }
}
@media (max-width:988px){
    .overlay{
        font-size:24px ;
        margin-left: -5px;
    }  
    .data{
        font-size: 10px;
        height: 20px;
        line-height: 20px;
    }
}
@media (max-width:910px){
    #baner{
        height: 130px;
        line-height: 40px;
    }
}
@media (max-width:889px){
    #footer{
        height: 1260px;
    }
    #footer .wrap > div{
        width: 90%;
    }
    
    #footer h5{
        font-size:25px;
    }
    #blog:hover a {
        transform: scale(1.6);
    }

    
}
@media (max-width:895px){
    #login input[type="email"], #login input[type="password"]{
    width: 70%;
    }
    #login a {
        font-size: 12px;
    }
}
@media (max-width:800px){
    
}
@media (max-width:782px){
    aside input[type="text"] {
        width: 70%;
    }
}
@media (max-width:769px){
    #header{
        height: 130px;
    }
    #menu{
        width: 100%;
    }
    #footer .wrap > div {
        width: 97%;
        margin-left: auto;
    }
    #footer .wrap > div:last-child {
        width: 98%;
        margin-left: auto;
    }
    .icon{
        font-size:40px
    }
    #card{
        height:145px
    }
    .category{
        width: 95%;
        font-size: 14px;
        margin-top: -30px;

    }    
    #card:hover .icon {
        
        font-size: 40px;
    }
}
@media (max-width:710px){
    aside{
        width: 95%;
        min-height:1000px;
    }
    #articles{
        width: 95%;
    }
    #span1{
        width: 80%;
    }
    #span2{
        width: 20%;
    }

    #span1 > input[type="text"] {
        width: 90%;
    }
    #boton{
        width: 5%;
    }
    .data{
        font-size: 10px;
    }
    #login #password {
        margin-left: 6%;

    }
    #login #user{
        
        margin-left: 6%;
    }
    
    #login input[type="email"], #login input[type="password"]{
        width: 80%;
        
    }
    #menu ul {
        margin: 0px auto;
            margin-left: auto;
        margin-left: -38px;
        width: 100%;
    }
}   
@media (max-width:640px){
    #card{
        height: 100px;
    }
    #card .icon{
        font-size:30px ;
        line-height: 100px;
    }
    #card:hover .icon {
        
        font-size: 30px;
    }
    #span1 > input[type="text"] {
        width: 85%;
    }
    #boton{
        width:10%;
    }
}
@media (max-width:540px){
    #baner{
        line-height: 25px;
        height: 120px;
    }
    #baner h1{
        font-size: 25px;
    }
    #menu ul li:last-child{
        margin-left: 20%;
    }
    #menu ul li {
        font-size: 25px;
        display: block;
        float: left;
        line-height: 70px;
        width: 6%;
        text-align: center;
        
    }
    #menu ul {
        margin: 0px auto;
        padding: 0px;
        
        width: 100%;
    }
    #span1 > input[type="text"] {
        width: 85%;
    }
    #boton{
        width:10%;
    }
}

@media (max-width:390px){
    aside input[type="text"] {
        width: 80%;
    }
    #card {
        height: 70px;
        width: 17%;
        margin: 1%;
    }
    #card .icon {
        font-size: 20px;
        line-height: 64px;
    }
    #span1 > input[type="text"] {
        width: 80%;
    }
    #boton{
        width:15%;
    }
    #menu ul li {
        font-size: 18px;
    }
    #articles h2{
        font-size: 27px;
    }
    #articles article h4 {
        
        font-size: 18px;
        
    }
}
    
@media (max-width:290px){
    aside input[type="text"] {
        width: 70%;
    }
    #span1 > input[type="text"] {
        width: 75%;
    }
    #boton{
        width:13%;
    }
}    